openapi: '3.1.0'

################################################################################
#                              API Information                                 #
################################################################################
info:
  description: "The Geostreams API is a RESTful web service to manage data streams in time and space. It relies on PostgreSQL, PostGIS and the jsonb data type. The web application is developed using the Play Framework in Scala."
  version: "3.0.0-beta.5"
  title: "Geostreams API"
  contact:
    email: "geodashboard@lists.illinois.edu"
externalDocs:
  description: "Get Geostreams API"
  url: "https://opensource.ncsa.illinois.edu/bitbucket/projects/GEOD/repos/geostreams-api-v3/browse"

################################################################################
#                  Host, Base Path, Schemes and Content Types                  #
################################################################################


host: "greatlakestogulf.org"
basePath: "/geostreams"
schemes:
  - https
produces:
  - application/json
consumes:
  - application/json

################################################################################
#                                   Tags                                       #
################################################################################

tags:
  - name: authentication
    description: Authentication, user management
  - name: sensors
    description: Get, create, edit, and delete sensors
  - name: streams
    description: Get, create, edit, and delete streams
  - name: datapoints
    description: Get, create, edit, and delete datapoints
  - name: parameters 
  - name: cache
  - name: admin


################################################################################
#                                   Paths                                      #
################################################################################

paths:

################################################################################
#                                   Authentication                             #
################################################################################

  /api/authenticate:
    post:
      summary: Authentication for API
      description: Requires User Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema: 
              type: string
            example: {'identifier': 'email@email.com', 'password': 'password'}
    
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
                example: {X-Auth-Token: '*** A long alphanumeric security token ***'}
      tags:
        - authentication

################################################################################
#                                   Sensors                                    #
################################################################################

  /api/sensors:
    get:
      summary: Get sensor by name or geocode
      description: Returns sensor JSON 
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
                example: [
                            {'created': '2018-05-23T17:21:00Z',
                              'geoType': 'Feature',
                              'geometry': {'coordinates': [-88.0275, 40.16416667, 0],
                                            'type': 'Point'},
                              'id': 4174,
                              'max_end_time': '2020-02-10T08:45:00Z',
                              'min_start_time': '2013-05-22T05:00:00Z',
                              'name': '03336890',
                              'parameters': ['discharge-ft3s',
                                              'discharge-ft3s-qc',
                                              'nitrate-nitrite-as-n-mgl',
                                              'nitrate-nitrite-as-n-mgl-qc'],
                              'properties': {'huc': {'huc2': {'code': '05'},
                                                      'huc4': {'code': '0512'},
                                                      'huc6': {'code': '051201'},
                                                      'huc8': {'code': '05120109'},
                                                      'huc_name': 'Vermilion'},
                                              'location': '03336890',
                                              'name': '03336890',
                                              'online_status': 'online',
                                              'popupContent': '03336890',
                                              'region': '0512',
                                              'type': {'id': 'usgs-sg',
                                                        'network': 'NWIS',
                                                        'title': 'United States Geological Survey Supergauge'}}},
                            ]
      parameters:
        - in: query
          name: geocode
          schema:
            type: string
            default: None
          description: lon,lat
          
        - in: query
          name: sensor_name
          schema:
            type: string
            default: None
          description: Name of Sensor
      tags:
        - sensors
    post:
      summary: Post new sensor
      description: Returns sensor JSON 
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
                example: {'created': '2020-02-26T05:11:30Z',
                          'geoType': 'Feature',
                          'geometry': {'coordinates': [-88.1, 40.5, 0], 'type': 'Point'},
                          'id': 4187,
                          'max_end_time': 'N/A',
                          'min_start_time': 'N/A',
                          'name': sensor_y,
                          'parameters': [],
                          'properties': {'name': 'sensor_y',
                                          'popupContent': 'sensor_y',
                                          'region': 'Field',
                                          'type': {}}}
      requestBody:
        required: true
        content:
          application/json:
            schema: 
              type: string
            example: {'geometry': {'coordinates': [-88.1, 40.5, 0], 'type': 'Point'},
                    'name': 'sensor_y',
                    'properties': {'name': 'sensor_y',
                                    'popupContent': 'sensor_y',
                                    'region': 'Field',
                                    'type': {}},
                    'type': 'Feature'}
      tags:
        - sensors

  /api/sensors/{id}:
    get:
      summary: Gets sensor by id
      description: Returns sensor JSON 
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
                example: {
                            'sensor': {'created': '2015-10-21T14:48:24Z',
                                      'geoType': 'Feature',
                                      'geometry': {'coordinates': [-90.645, 42.5408333, 0],
                                                    'type': 'Point'},
                                      'id': 22,
                                      'max_end_time': '2018-12-03T00:00:00Z',
                                      'min_start_time': '2000-04-18T00:00:00Z',
                                      'name': 'IL_EPA_WQX-M-13',
                                      'parameters': ['nitrate-nitrite-as-n-mgl',
                                                      'nitrate-nitrite-inorganic-total-as-n-mgl',
                                                      'owner',
                                                      'source',
                                                      'unit_code'],
                                      'properties': {'huc': {'huc2': {'code': '07',
                                                                          'name': 'Upper Mississippi'},
                                                                'huc4': {'code': '0706',
                                                                          'name': 'Upper Mississippi-Maquoketa-Plum'},
                                                                'huc6': {'code': '070600',
                                                                          'name': 'Upper Mississippi-Maquoketa-Plum'},
                                                                'huc8': {'code': '07060003',
                                                                          'name': 'Grant-Little Maquoketa'}},
                                                      'id': 22,
                                                      'name': 'IL_EPA_WQX-M-13',
                                                      'popupContent': 'IL_EPA_WQX-M-13',
                                                      'region': '0706',
                                                      'type': {'data_owner': 'illinois epa',
                                                                'data_owner_id': 'IL_EPA_WQX',
                                                                'id': 'wqp',
                                                                'title': 'Water Quality Portal'}}},
                          'status': 'OK'}
      parameters:
        - required: true
          name: id
          in: path
          schema:
            type: string
      tags:
        - sensors
    delete:
      summary: Delete sensor by id
      description: Removes sensor and all assosicated streams and datapoints
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
                example: {status: OK}
      parameters:
        - required: true
          schema:
            type: string
          name: id
          in: path
          description: Sensor ID
      tags:
        - sensors
    put:
      summary: Update sensor JSON
      description: Returns sensor JSON
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
                example: {'created': '2020-02-26T08:03:22Z',
                          'geoType': 'Feature',
                          'geometry': {'coordinates': [-88.1, 40.5, 0], 'type': 'Point'},
                          'id': 4189,
                          'max_end_time': 'N/A',
                          'min_start_time': 'N/A',
                          'name': 'Nameofthis',
                          'parameters': [],
                          'properties': {'name': 'Nameofthis',
                                          'popupContent': 'populate',
                          'region': 'Earth',
                          'type': {}}}
      requestBody:
        required: true
        content:
          application/json:
            schema: 
              type: string
            example: {'created': '2020-02-26T08:03:22Z',
                          'geoType': 'Feature',
                          'geometry': {'coordinates': [-88.1, 40.5, 0], 'type': 'Point'},
                          'id': 4189,
                          'max_end_time': 'N/A',
                          'min_start_time': 'N/A',
                          'name': 'Nameofthis',
                          'parameters': [],
                          'properties': {'name': 'Nameofthis',
                                          'popupContent': 'populate',
                          'region': 'Earth',
                          'type': {}}}
      parameters:
        - required: true
          schema:
            type: string
          name: id
          in: path
          description: Sensor ID
      tags:
        - sensors  

        
  /api/sensors/{id}/stats:
    get:
      summary: Get sensor statistics
      description: Returns JSON
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
                example: {
                            'id': 22,
                            'name': 'IL_EPA_WQX-M-13',
                            'parameters': ['nitrate-nitrite-as-n-mgl',
                                            'nitrate-nitrite-inorganic-total-as-n-mgl',
                                            'owner',
                                            'source',
                                            'unit_code'],
                            'range': {'max_end_time': '2018-12-03T00:00:00Z',
                                        'min_start_time': '2000-04-18T00:00:00Z'},
                            'status': 'OK'
                          }

      parameters:
        - required: true
          schema:
            type: string
          name: id
          in: path
          description: Sensor ID
      tags:
        - sensors
        
  /api/sensors/{id}/streams:
    get:
      summary: Get streams associated with sensor
      description: Returns stream JSON
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
                example: {status: OK,
                          streams: [{created: 2015-10-21T14:48:54Z,
                          end_time: 2013-12-10T15:30:00Z,
                          geoType: Feature,
                          geometry: {coordinates: [-91.0593, 41.19111, 0],
                                      type: Point},
                          id: 31,
                          name: IL_EPA_WQX-L-04,
                          parameters: [nitrate-nitrite-as-n-mgl,
                                        owner,
                                        source,
                                        unit_code],
                          properties: {huc: {huc2: {code: 07,
                                                          name: Upper Mississippi},
                                                huc4: {code: 0708,
                                                          name: Upper 
                                                                  Mississippi-Iowa-Skunk-Wapsipinicon},
                                                huc6: {code: 070801,
                                                          name: Upper 
                                                                  Mississippi-Skunk-Wapsipinicon},
                                                huc8: {code: 07080101,
                                                          name: Copperas-Duck}},
                                        region: 0708,
                                        type: {data_owner: illinois epa,
                                                  data_owner_id: IL_EPA_WQX,
                                                  id: wqp,
                                                  title: Water Quality Portal}},
                          sensor_id: 25,
                          start_time: 2003-03-19T17:30:00Z}]}
      parameters:
        - required: true
          schema:
            type: string
          name: id
          in: path
          description: Sensor ID
      tags:
        - sensors



  /api/sensors/{id}/update:
    put:
      summary: Update sensor JSON by ID
      description: Update sensor JSON by ID
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
                example: {'status': 'update'}
      parameters:
        - required: true
          schema:
            type: string
          name: id
          in: path
          description: Sensor ID
      tags:
        - sensors


################################################################################
#                                   Streams                                    #
################################################################################ 
 
  /api/streams:
    get:
      summary: Get stream by name or geocode
      description: Returns stream JSON 
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
                example: {'created': '2016-12-14T23:17:53Z',
                          'end_time': '1985-02-01T10:00:00Z',
                          'geoType': 'Feature',
                          'geometry': {'coordinates': [-88.139738, 42.378311, 0], 'type': 'Point'},
                          'id': 854,
                          'name': '303',
                          'parameters': ['ammonia-unionized-as-n-mgl',
                                          'ammonia-unionized-temp-ph-nh4-mgl',
                                          'nitrate-nitrite-total-as-n-mgl',
                                          'nitrogen-ammonia-total-as-n-mgl',
                                          'nitrogen-kjeldahl-total-as-n-mgl',
                                          'owner',
                                          'phosphorus-dissolved-as-p-mgl',
                                          'phosphorus-total-as-p-mgl',
                                          'site'],
                          'properties': {'data_type': 'source_data',
                                          'source': 'http://waterdata.usgs.gov/nwis/uv/?site_no=303'},
                          'sensor_id': 665,
                          'start_time': '1984-03-15T10:00:00Z'}
      parameters:
        - in: query
          name: geocode
          schema:
            type: string
          description: lon,lat
        - in: query
          schema:
            type: string  
          name: stream_name
          description: Stream Name
      tags:
        - streams
    post:
      summary: Post new stream
      description: Returns stream JSON 
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
                example: {'created': '2020-02-26T20:34:36Z',
                          'end_time': 'N/A',
                          'geoType': 'Feature',
                          'geometry': {'coordinates': [-88.1, 40.5, 0], 'type': 'Point'},
                          'id': 4375,
                          'name': 'Nameofthis',
                          'parameters': [],
                          'properties': {'name': 'Nameofthis',
                                          'popupContent': 'populate',
                                          'region': 'Earth',
                                          'type': {}},
                          'sensor_id': 4189,
                          'start_time': 'N/A'}
      requestBody: 
        required: true
        content:
          application/json:
            schema: 
              type: string
            example: {'created': '2020-02-26T08:03:22Z',
                      'geoType': 'Feature',
                      'geometry': {'coordinates': [-88.1, 40.5, 0], 'type': 'Point'},
                      'id': 4189,
                      'max_end_time': 'N/A',
                      'min_start_time': 'N/A',
                      'name': 'Nameofthis',
                      'parameters': [],
                      'properties': {'name': 'Nameofthis',
                                      'popupContent': 'populate',
                                      'region': 'Earth',
                                      'type': {}}}
      tags:
        - streams
    delete:
      summary: Delete range of streams by id
      description: Returns response of ID's that are deleted and not-deleted
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
                example: {'streams_deleted': ['37', '45'],
 'streams_not_deleted': ['38', '39', '40', '41', '42', '43', '44']}
      parameters:
        - in: query
          name: start
          schema:
           type: integer
          description: Start Time
        - in: query
          name: end
          schema:
            type: integer
          description: End Time
      tags:
        - streams

  /api/streams/{id}:
    get:
      summary: Gets stream by id 
      description: Returns stream JSON 
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
                example: {'created': '2016-12-14T23:17:56Z',
                          'end_time': '1996-10-02T11:30:00Z',
                          'geoType': 'Feature',
                          'geometry': {'coordinates': [-88.118333, 42.375556, 0], 'type': 'Point'},
                          'id': 856,
                          'name': '305',
                          'parameters': ['ammonia-unionized-as-n-mgl',
                                          'ammonia-unionized-temp-ph-nh4-mgl',
                                          'nitrate-nitrite-total-as-n-mgl',
                                          'nitrogen-ammonia-total-as-n-mgl',
                                          'nitrogen-kjeldahl-total-as-n-mgl',
                                          'nitrogen-kjeldahl-total-bottom-dep-dry-wt-Mgkg',
                                          'owner',
                                          'phosphorus-dissolved-as-p-mgl',
                                          'phosphorus-total-as-p-mgl',
                                          'phosphorus-total-bottom-deposit-dry-wgt-Mgkg',
                                          'site'],
                          'properties': {'data_type': 'source_data',
                                          'source': 'http://waterdata.usgs.gov/nwis/uv/?site_no=305'},
                          'sensor_id': 667,
                          'start_time': '1977-08-13T12:00:00Z'}
      parameters:
        - required: true
          schema:
            type: string
          name: id
          in: path
          description: Stream ID
      tags:
        - streams
    delete:
      summary: Delete stream by id
      description: Removes stream and all assosicated datapoints
      responses:
        200:
          description: OK
      parameters:
        - required: true
          schema:
            type: string
          name: id
          in: path
          description: Stream ID
      tags:
        - streams

  /api/streams/update:
    put:
      summary: Update all streams statistics
      description: Returns success or fail
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
                example: {'status': 'update'}
      tags:
        - streams

################################################################################
#                                   Datapoints                                 #
################################################################################    
  
  /api/datapoints:

    get:
      summary: Get datapoints
      description: Returns datapoint JSON
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
                example: [{'end_time': '2009-08-26T02:00:00Z',
                                        'geoType': 'Feature',
                                        'geometry': {'coordinates': [-90.32321, 38.4007, 0],
                                                      'type': 'Point'},
                                        'properties': {'nitrate-nitrite-as-n-mgl': '1.3',
                                                        'owner': 'IL_EPA_WQX',
                                                        'source': 'http://waterqualitydata.us/',
                                                        'unit_code': 'mg/l'},
                                        'sensor_id': 26,
                                        'sensor_name': 'IL_EPA_WQX-J-36',
                                        'start_time': '2009-08-26T02:00:00Z',
                                        'stream_id': 32},]
      parameters:
        - in: query
          name: since
          schema:
            type: string
            default: None
          description: start time
        - in: query
          name: until
          schema:
            type: string
            default: None
          description: end time
        - in: query
          name: geocode
          schema:
            type: string
            default: None
          description: coordinates
        - in: query
          name: stream_id
          schema:
            type: string
            default: None
          description: stream id
        - in: query
          name: sensor_id
          schema:
            type: string
            default: None
          description: sensor id
        - in: query
          name: sources
          schema:
            type: list
            default: Empty
          description: sources
        - in: query
          name: attributes
          schema:
            type: list
            default: Empty
          description: attributes
        - in: query
          name: format
          schema:
            type: string
            default: None
          description: default json
        - in: query
          name: onlyCount
          schema:
            type: boolean
            default: False
          description: Get count
      requestBody:
        required: true
        content:
          application/json:
            schema: 
              type: string
            example: {"x-auth-token": "*** x-auth-token ***"}
      tags:
        - datapoints







    post:
      summary: Create a new datapoint
      description: Returns datapoint JSON
      responses:
        200:
          description: OK
          content:
            application/json:
              schema: 
                type: string
              example: {'id': 93667363, 'status': 'OK'}
      requestBody:
        required: true
        content:
          application/json:
            schema: 
              type: string
            example: {"x-auth-token": "*** x-auth-token ***"}
      parameters:
        - in: query
          name: invalidateCache
          schema:
            type: boolean
          description: default false
      tags:
        - datapoints




  /api/datapoints/bulk:
    post:
        summary: Create new datapoints from list
        description: Returns datapoint JSON
        responses:
          200:
            description: OK
            content:
              application/json:
                schema: 
                  type: string
                example: {'id': 93667364, 'status': 'OK'}
        requestBody:
          required: true
          content:
            application/json:
              schema: 
                type: string
              example: {"x-auth-token": "*** x-auth-token ***"}
        parameters:
          - in: query
            name: invalidateCache
            schema:
              type: boolean
            description: default true
        tags:
          - datapoints

    
  
  /api/datapoints/{id}: 

    get:
      summary: Get datapoint by ID
      description: Removes datapoint
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
                example: {'datapoint': {'end_time': '2009-08-26T02:00:00Z',
                                        'geoType': 'Feature',
                                        'geometry': {'coordinates': [-90.32321, 38.4007, 0],
                                                      'type': 'Point'},
                                        'properties': {'nitrate-nitrite-as-n-mgl': '1.3',
                                                        'owner': 'IL_EPA_WQX',
                                                        'source': 'http://waterqualitydata.us/',
                                                        'unit_code': 'mg/l'},
                                        'sensor_id': 26,
                                        'sensor_name': 'IL_EPA_WQX-J-36',
                                        'start_time': '2009-08-26T02:00:00Z',
                                        'stream_id': 32},
                          'status': 'OK'}
      requestBody:
        required: true
        content:
          application/json:
            schema: 
              type: string
            example: {
                      'start_time': start_time,
                      'end_time': end_time,
                      'type': 'Feature',
                      'geometry': {
                          'type': "Point",
                          'coordinates': [
                              longitude,
                              latitude,
                              elevation
                          ]
                      },
                      'properties':{ "nitrate-nitrite-as-n-mgl": "1.3" },
                      'stream_id': stream_id,
                      'sensor_id': sensor_id,
                      'sensor_name': sensor_name
                  }
      parameters:
        - required: true
          schema:
            type: int
          name: id
          in: path
          description: Datapoint ID
      tags:
        - datapoints
    delete:  
      summary: Delete datapoint by id
      description: Removes datapoint
      responses:
        200:
          description: OK
          content:
            application/json:
              schema: 
                type: string
              example: {'status': 'OK'}
      parameters:
        - required: true
          schema:
            type: int
          name: id
          in: path
          description: Datapoint ID
      tags:
        - datapoints


################################################################################
#                                   Parameters                                 #
################################################################################

  /api/parameters:
    get:                                          
      summary: Get Parameters
      description: Returns a JSON dictionary of data parameters
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
                example: {'categories': [{'detail_type': 'time', 'id': 92201559, 'name': 'Flow'},
                                          {'detail_type': 'time',
                                          'id': 92201562,
                                          'name': 'Water Quality'},
                                          {'detail_type': 'time', 'id': 92201565, 'name': 'Calculated'},
                                          {'detail_type': 'time',
                                          'id': 92201578,
                                          'name': 'Meteorological'},
                                          {'detail_type': 'time', 'id': 92201583, 'name': 'Biological'},
                                          {'detail_type': 'visible',
                                          'id': 92201608,
                                          'name': 'Water Quality'}],
                          'mappings': [{'category_id': 92201559,
                                        'id': 92201560,
                                        'parameter_id': 92201558},
                                        {'category_id': 92201562,
                                        'id': 92201563,
                                        'parameter_id': 92201561},
                                        {'category_id': 92201565,
                                        'id': 92201566,
                                        'parameter_id': 92201564},
                                        {'category_id': 92201565,
                                        'id': 92201568,
                                        'parameter_id': 92201567},
                                        {'category_id': 92201562,
                                        'id': 92201570,
                                        'parameter_id': 92201569},
                                        {'category_id': 92201562,
                                        'id': 92201572,
                                        'parameter_id': 92201571},
                                        {'category_id': 92201562,
                                        'id': 92201574,
                                        'parameter_id': 92201573},
                                        {'category_id': 92201562,
                                        'id': 92201576,
                                        'parameter_id': 92201575},
                                        {'category_id': 92201578,
                                        'id': 92201579,
                                        'parameter_id': 92201577},
                                        {'category_id': 92201578,
                                        'id': 92201581,
                                        'parameter_id': 92201580},
                                        {'category_id': 92201583,
                                        'id': 92201584,
                                        'parameter_id': 92201582},
                                        {'category_id': 92201583,
                                        'id': 92201586,
                                        'parameter_id': 92201585},
                                        {'category_id': 92201583,
                                        'id': 92201588,
                                        'parameter_id': 92201587},
                                        {'category_id': 92201562,
                                        'id': 92201590,
                                        'parameter_id': 92201589},
                                        {'category_id': 92201562,
                                        'id': 92201592,
                                        'parameter_id': 92201591},
                                        {'category_id': 92201562,
                                        'id': 92201594,
                                        'parameter_id': 92201593},
                                        {'category_id': 92201562,
                                        'id': 92201596,
                                        'parameter_id': 92201595},
                                        {'category_id': 92201562,
                                        'id': 92201598,
                                        'parameter_id': 92201597},
                                        {'category_id': 92201562,
                                        'id': 92201600,
                                        'parameter_id': 92201599},
                                        {'category_id': 92201562,
                                        'id': 92201602,
                                        'parameter_id': 92201601},
                                        {'category_id': 92201562,
                                        'id': 92201604,
                                        'parameter_id': 92201603},
                                        {'category_id': 92201578,
                                        'id': 92201606,
                                        'parameter_id': 92201605},
                                        {'category_id': 92201608,
                                        'id': 92201609,
                                        'parameter_id': 92201607},
                                        {'category_id': 92201562,
                                        'id': 92201611,
                                        'parameter_id': 92201610},
                                        {'category_id': 92201562,
                                        'id': 92201613,
                                        'parameter_id': 92201612},
                                        {'category_id': 92201562,
                                        'id': 92201615,
                                        'parameter_id': 92201614},
                                        {'category_id': 92201562,
                                        'id': 92201617,
                                        'parameter_id': 92201616},
                                        {'category_id': 92201562,
                                        'id': 92201619,
                                        'parameter_id': 92201618},
                                        {'category_id': 92201562,
                                        'id': 92201621,
                                        'parameter_id': 92201620},
                                        {'category_id': 92201562,
                                        'id': 92201623,
                                        'parameter_id': 92201622},
                                        {'category_id': 92201562,
                                        'id': 92201625,
                                        'parameter_id': 92201624},
                                        {'category_id': 92201562,
                                        'id': 92201627,
                                        'parameter_id': 92201626},
                                        {'category_id': 92201562,
                                        'id': 92201629,
                                        'parameter_id': 92201628},
                                        {'category_id': 92201562,
                                        'id': 92201631,
                                        'parameter_id': 92201630},
                                        {'category_id': 92201562,
                                        'id': 92201633,
                                        'parameter_id': 92201632},
                                        {'category_id': 92201562,
                                        'id': 92201635,
                                        'parameter_id': 92201634},
                                        {'category_id': 92201562,
                                        'id': 92201637,
                                        'parameter_id': 92201636},
                                        {'category_id': 92201562,
                                        'id': 92201639,
                                        'parameter_id': 92201638},
                                        {'category_id': 92201562,
                                        'id': 92201641,
                                        'parameter_id': 92201640},
                                        {'category_id': 92201562,
                                        'id': 92201643,
                                        'parameter_id': 92201642},
                                        {'category_id': 92201562,
                                        'id': 92201645,
                                        'parameter_id': 92201644},
                                        {'category_id': 92201562,
                                        'id': 92201647,
                                        'parameter_id': 92201646},
                                        {'category_id': 92201562,
                                        'id': 92201649,
                                        'parameter_id': 92201648},
                                        {'category_id': 92201562,
                                        'id': 92201651,
                                        'parameter_id': 92201650},
                                        {'category_id': 92201562,
                                        'id': 92201653,
                                        'parameter_id': 92201652},
                                        {'category_id': 92201562,
                                        'id': 92201655,
                                        'parameter_id': 92201654},
                                        {'category_id': 92201562,
                                        'id': 92201657,
                                        'parameter_id': 92201656},
                                        {'category_id': 92201562,
                                        'id': 92201659,
                                        'parameter_id': 92201658},
                                        {'category_id': 92201562,
                                        'id': 92201661,
                                        'parameter_id': 92201660},
                                        {'category_id': 92201562,
                                        'id': 92201663,
                                        'parameter_id': 92201662},
                                        {'category_id': 92201562,
                                        'id': 92201665,
                                        'parameter_id': 92201664},
                                        {'category_id': 92201562,
                                        'id': 92201667,
                                        'parameter_id': 92201666},
                                        {'category_id': 92201562,
                                        'id': 92201669,
                                        'parameter_id': 92201668},
                                        {'category_id': 92201562,
                                        'id': 92201671,
                                        'parameter_id': 92201670},
                                        {'category_id': 92201562,
                                        'id': 92201673,
                                        'parameter_id': 92201672},
                                        {'category_id': 92201562,
                                        'id': 92201675,
                                        'parameter_id': 92201674},
                                        {'category_id': 92201562,
                                        'id': 92201677,
                                        'parameter_id': 92201676},
                                        {'category_id': 92201562,
                                        'id': 92201679,
                                        'parameter_id': 92201678},
                                        {'category_id': 92201562,
                                        'id': 92201681,
                                        'parameter_id': 92201680},
                                        {'category_id': 92201562,
                                        'id': 92201683,
                                        'parameter_id': 92201682},
                                        {'category_id': 92201562,
                                        'id': 92201685,
                                        'parameter_id': 92201684},
                                        {'category_id': 92201562,
                                        'id': 92201687,
                                        'parameter_id': 92201686},
                                        {'category_id': 92201562,
                                        'id': 92201689,
                                        'parameter_id': 92201688},
                                        {'category_id': 92201562,
                                        'id': 92201691,
                                        'parameter_id': 92201690},
                                        {'category_id': 92201562,
                                        'id': 92201693,
                                        'parameter_id': 92201692},
                                        {'category_id': 92201562,
                                        'id': 92201695,
                                        'parameter_id': 92201694},
                                        {'category_id': 92201562,
                                        'id': 92201697,
                                        'parameter_id': 92201696},
                                        {'category_id': 92201562,
                                        'id': 92201699,
                                        'parameter_id': 92201698},
                                        {'category_id': 92201562,
                                        'id': 92201701,
                                        'parameter_id': 92201700},
                                        {'category_id': 92201562,
                                        'id': 92201703,
                                        'parameter_id': 92201702},
                                        {'category_id': 92201562,
                                        'id': 92201705,
                                        'parameter_id': 92201704},
                                        {'category_id': 92201562,
                                        'id': 92201707,
                                        'parameter_id': 92201706},
                                        {'category_id': 92201562,
                                        'id': 92201709,
                                        'parameter_id': 92201708},
                                        {'category_id': 92201562,
                                        'id': 92201711,
                                        'parameter_id': 92201710},
                                        {'category_id': 92201562,
                                        'id': 92201713,
                                        'parameter_id': 92201712},
                                        {'category_id': 92201562,
                                        'id': 92201715,
                                        'parameter_id': 92201714},
                                        {'category_id': 92201578,
                                        'id': 92201717,
                                        'parameter_id': 92201716},
                                        {'category_id': 92201578,
                                        'id': 92201719,
                                        'parameter_id': 92201718},
                                        {'category_id': 92201578,
                                        'id': 92201721,
                                        'parameter_id': 92201720},
                                        {'category_id': 92201562,
                                        'id': 92201723,
                                        'parameter_id': 92201722},
                                        {'category_id': 92201578,
                                        'id': 92201725,
                                        'parameter_id': 92201724}],
                          'parameters': [{'explore_view': True,
                                          'id': 92201558,
                                          'name': 'discharge-ft3s',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Discharge',
                                          'unit': 'ft3/s'},
                                          {'explore_view': True,
                                          'id': 92201561,
                                          'name': 'nitrate-nitrite-as-n-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Nitrate and Nitrite as N',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201564,
                                          'name': 'load-Mg',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Nitrate Load',
                                          'unit': 'Mg'},
                                          {'explore_view': True,
                                          'id': 92201567,
                                          'name': 'cumulative-load-Mg',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Nitrate Cumulative Load',
                                          'unit': 'Mg'},
                                          {'explore_view': True,
                                          'id': 92201569,
                                          'name': 'total-nitrogen-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Total Nitrogen',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201571,
                                          'name': 'specific-conductance-uScm',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Specific Conductance',
                                          'unit': 'uS/cm'},
                                          {'explore_view': True,
                                          'id': 92201573,
                                          'name': 'turbidity-fnu',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Turbidity',
                                          'unit': 'FNU'},
                                          {'explore_view': True,
                                          'id': 92201575,
                                          'name': 'nitrate-as-n-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Nitrate as N',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201577,
                                          'name': 'par-avg-mv',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'PAR',
                                          'unit': 'mV'},
                                          {'explore_view': True,
                                          'id': 92201580,
                                          'name': 'par-density-avg',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'PAR Density',
                                          'unit': ''},
                                          {'explore_view': True,
                                          'id': 92201582,
                                          'name': 'blue-green-algae-pct-ugl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Blue Green Algae ug/L',
                                          'unit': 'ug/L'},
                                          {'explore_view': True,
                                          'id': 92201585,
                                          'name': 'chlorophyll-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Chlorophyll mg/L',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201587,
                                          'name': 'chlorophyll-ugl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Chlorophyll ug/L',
                                          'unit': 'ug/L'},
                                          {'explore_view': True,
                                          'id': 92201589,
                                          'name': 'conductivity-uscm',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Conductivity',
                                          'unit': 'uS/cm'},
                                          {'explore_view': True,
                                          'id': 92201591,
                                          'name': 'dissolved-oxygen-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Dissolved Oxygen',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201593,
                                          'name': 'dissolved-oxygen-saturation-pct',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Dissolved Oxygen Saturation',
                                          'unit': '%'},
                                          {'explore_view': True,
                                          'id': 92201595,
                                          'name': 'fluorescent-dissolved-organic-matter-qsu',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Fluorescent Dissolved Organic Matter',
                                          'unit': 'QSU'},
                                          {'explore_view': True,
                                          'id': 92201597,
                                          'name': 'soluble-reactive-phosphorus-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Soluble Reactive Phosphorus',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201599,
                                          'name': 'total-phosphorus-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Total Phosphorus',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201601,
                                          'name': 'total-soluble-nitrogen-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Total Soluble Nitrogen',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201603,
                                          'name': 'total-soluble-phosphorus-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Total Soluble Phosphorus',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201605,
                                          'name': 'water-temperature-c',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Water Temperature',
                                          'unit': 'C'},
                                          {'explore_view': True,
                                          'id': 92201607,
                                          'name': 'pH',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Water Acidity',
                                          'unit': 'pH'},
                                          {'explore_view': True,
                                          'id': 92201610,
                                          'name': 'water-turbidity-fnu',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Water Turbidity',
                                          'unit': 'FNU'},
                                          {'explore_view': True,
                                          'id': 92201612,
                                          'name': 'water-turbidity-ntu',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Water Turbidity',
                                          'unit': 'NTU'},
                                          {'explore_view': True,
                                          'id': 92201614,
                                          'name': 'colored-dissolved-organic-matter-ppbqse',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Colored Dissolved Organic Matter',
                                          'unit': 'ppb QSE'},
                                          {'explore_view': True,
                                          'id': 92201616,
                                          'name': 'total-nitrogen-lbs',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Total Annual Nitrogen',
                                          'unit': 'lbs'},
                                          {'explore_view': True,
                                          'id': 92201618,
                                          'name': 'total-phosphorus-lbs',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Total Annual Phosphorous',
                                          'unit': 'lbs'},
                                          {'explore_view': True,
                                          'id': 92201620,
                                          'name': 'ammonia-unionized-as-n-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Ammonia Unionized as N',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201622,
                                          'name': 'ammonia-unionized-temp-ph-nh4-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Ammonia Unionized Temp pH NH4',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201624,
                                          'name': 'nitrate-nitrite-total-as-n-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Nitrate Nitrite Total as N',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201626,
                                          'name': 'nitrate-nitrogen-total-as-n-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Nitrate Nitrogen Total as N',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201628,
                                          'name': 'nitrite-nitrogen-dissolved-as-n-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Nitrite Nitrogen Dissolved as N',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201630,
                                          'name': 'nitrite-nitrogen-total-as-n-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Nitrite Nitrogen Total as N',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201632,
                                          'name': 'nitrite-plus-nitrate-diss-1det-as-n-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Nitrite + Nitrate Diss 1det as N',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201634,
                                          'name': 'nitrogen-ammonia-total-as-n-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Nitrogen Ammonia Total as N',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201636,
                                          'name': 'nitrogen-ammonia-dissolved-as-n-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Nitrogen Ammonia Dissolved as N',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201638,
                                          'name': 'nitrogen-kjeldahl-total-as-n-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Nitrogen Kjeldahl Total as N',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201640,
                                          'name': 'nitrogen-kjeldahl-total-bottom-dep-dry-wt-Mgkg',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Nitrogen Kjehdahl Total Bottom Dep Dry Weight',
                                          'unit': 'Mg/kg'},
                                          {'explore_view': True,
                                          'id': 92201642,
                                          'name': 'nitrogen-kjeldahl-dissolved-as-n-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Nitrogen Kjeldahl Dissolved as N',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201644,
                                          'name': 'nitrogen-organic-total-as-n-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Nitrogen Organic Total as N',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201646,
                                          'name': 'nitrogen-total-as-n-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Nitrogen Total as N',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201648,
                                          'name': 'nitrogen-total-as-no3-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Nitrogen Total as NO3',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201650,
                                          'name': 'phosphorus-total-as-p-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Phosphorous Total as P',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201652,
                                          'name': 'phosphorus-dissolved-as-p-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Phosphorous Dissolved as P',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201654,
                                          'name': 'phosphorus-dissolved-orthophosphate-as-p-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Phosphorous Dissolved Orthophosphate as P',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201656,
                                          'name': 'phosphorus-insitu-orthophosphate-as-p-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Phosphorous in Situ Orthophosphate as P',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201658,
                                          'name': 'phosphorus-in-total-orthophosphate-as-p-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Phosphorous in Total Orthophosphate as P',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201660,
                                          'name': 'phosphorus-total-bottom-deposit-dry-wgt-Mgkg',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Phosphorous Total Bottom Deposit Dry Weight',
                                          'unit': 'Mg/kg'},
                                          {'explore_view': True,
                                          'id': 92201662,
                                          'name': 'nitrate-nitrite-inorganic-total-as-n-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Inorganic Nitrogen (Nitrate and Nitrite) Total',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201664,
                                          'name': 'suspended-solids-total-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Total Suspended Solids',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201666,
                                          'name': 'volatile-solids-suspended-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Volatile Suspended Solids',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201668,
                                          'name': 'volatile-solids-total-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Volatile Solids Total',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201670,
                                          'name': 'chlorophyll-b-ugl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Chlorophyll B Total',
                                          'unit': 'ug/L'},
                                          {'explore_view': True,
                                          'id': 92201672,
                                          'name': 'chlorophyll-c-ugl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Chlorophyll C Total',
                                          'unit': 'ug/L'},
                                          {'explore_view': True,
                                          'id': 92201678,
                                          'name': 'alkalinity-total-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Alkalinity Total',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201680,
                                          'name': 'nitrate-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Nitrate Total',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201682,
                                          'name': 'total-nitrite-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Nitrite Total',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201684,
                                          'name': 'nitrogen-dissolved-as-n-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Nitrogen Dissolved (MG/L AS N)',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201686,
                                          'name': 'phosphorus-sed-bot-<63-wet-sieve-field-total-pct',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Phosphorus, SED, BOT, <63, Wet Sieve, Field, Total',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201688,
                                          'name': 'nitrate-nitrogen-dissolved-as-no3-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Nitrate Nitrogen, Dissolved (MG/L AS NO3)',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201690,
                                          'name': 'nitrogen-ammonia-dissolved-as-nh4-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Nitrogen Ammonia, Dissolved (MG/L AS NH4)',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201692,
                                          'name': 'phosphate-ortho-as-po4-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Phosphate Ortho(MG/L AS PO4)',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201694,
                                          'name': 'nitrogen-ammonia-bottom-deposits-MgKg',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Nitrogen Ammonia, Bottom Deposits (MG/KG-N)',
                                          'unit': 'MgKg'},
                                          {'explore_view': True,
                                          'id': 92201696,
                                          'name': 'phosphate-total-as-po4-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Phosphate Total (MG/L AS PO4',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201698,
                                          'name': 'ortho-phosphate-nes-algal-assay-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Ortho-Phosphate NES Algal Assay',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201700,
                                          'name': 'phosphate-total-soluble-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Phosphate Total Soluble',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201702,
                                          'name': 'phosphate-poly-as-po4-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Phosphate Poly (MG/L AS PO4)',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201704,
                                          'name': 'phosphorus-total-as-po4-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Phosphorous Total (MG/L AS PO4)',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201706,
                                          'name': 'phosphorus-sed-bot-<63-dry-sieve-lab-totals-pct',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Phosphorus SED BOT <63 Dry Sieve Lab Total ',
                                          'unit': 'pct'},
                                          {'explore_view': True,
                                          'id': 92201708,
                                          'name': 'nitrate+nitrite-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Nitrate Plus Nitrite',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201674,
                                          'name': 'chlorophyll-a-corrected-for-pheophytin-ugl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Chlorophyll A Corrected for Pheophytin Total',
                                          'unit': 'ug/L'},
                                          {'explore_view': True,
                                          'id': 92201676,
                                          'name': 'chlorophyll-a-uncorrected-for-pheophytin-ugl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Chlorophyll A Uncorrected for Pheophytin Total',
                                          'unit': 'ug/L'},
                                          {'explore_view': True,
                                          'id': 92201710,
                                          'name': 'flourescent-dissolved-organic-matter-qsu',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Flourescent Dissolved Organic Matter QSU',
                                          'unit': 'QSU'},
                                          {'explore_view': True,
                                          'id': 92201712,
                                          'name': 'flourescent-dissolved-organic-matter-rfu',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Flourescent Dissolved Organic Matter RFU',
                                          'unit': 'RFU'},
                                          {'explore_view': True,
                                          'id': 92201714,
                                          'name': 'specific-conductivity-uscm',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Specific Conductivity',
                                          'unit': 'USCM'},
                                          {'explore_view': True,
                                          'id': 92201716,
                                          'name': 'air-temperature-24hr-avg-f',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Air Temperature 24hr Avg',
                                          'unit': 'F'},
                                          {'explore_view': True,
                                          'id': 92201718,
                                          'name': 'wind-speed-mph',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Wind Speed',
                                          'unit': 'F'},
                                          {'explore_view': True,
                                          'id': 92201720,
                                          'name': 'wind-direction',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Wind Direction',
                                          'unit': 'Deg'},
                                          {'explore_view': True,
                                          'id': 92201722,
                                          'name': 'chloride-mgl',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Chloride',
                                          'unit': 'mg/L'},
                                          {'explore_view': True,
                                          'id': 92201724,
                                          'name': 'precipitation-in',
                                          'scale_colors': [],
                                          'scale_names': [],
                                          'search_view': True,
                                          'title': 'Precipitation',
                                          'unit': 'in'}],
                          'status': 'OK'}
      tags:
        - parameters

  /api/parameters/{id}:     
    delete:
      summary: Delete paramter by ID
      description: Delete paramter by ID
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
                example: {'message': 'Deleted parameter', 'status': 'OK'}
      parameters:
        - required: true
          schema:
            type: int
          name: id
          in: path
          description: Parameter ID
      tags:
        - parameters

  /api/parameters/name/{name}:     
    delete:
      summary: Delete paramter by name
      description: Delete paramter by name
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
                example: {'message': 'Deleted parameter', 'status': 'OK'}
      parameters:
        - required: true
          schema:
            type: string
          name: name
          in: path
          description: Parameter Name
      tags: 
        - parameters
        
################################################################################
#                                   Cache                                      #
################################################################################

  /api/cache:
    post:  
      summary: Bin datapoints to hour, day, month, and year 
      description: Warning - can be a long tax on system if not using limiting parameters
      tags:
        - cache
      responses:
        200:
          description: OK
      parameters:
      - in: query
        name: sensor_id
        schema: 
          type: integer
      - in: query
        name: since
        schema: 
          type: string
      - in: query
        name: until
        schema: 
          type: string
      - in: query
        name: parameter
        schema: 
          type: string

  /api/cache/season:
    post:
      summary: Bin datapoints to seasons
      description: Warning - can be a long tax on system if not using limiting parameters
 
      tags:
        - cache
      responses:
        200:
          description: OK
      parameters:
      - in: query
        name: sensor_id
        schema: 
          type: integer
      - in: query
        name: since
        schema: 
          type: string
      - in: query
        name: until
        schema: 
          type: string
      - in: query
        name: parameter
        schema: 
          type: list
 
  /api/cache/trends:
    get:
      summary: Get trends for a parameter
      description: 
      tags:
        - cache
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
                example: {
                            "status": "OK",
                            "trends": [
                              {
                                "sensor_id": 1416,
                                "sensor": {
                                  "id": 1416,
                                  "name": "05595000",
                                  "created": "2018-03-19T21:49:41Z",
                                  "geoType": "Feature",
                                  "geometry": {
                                    "type": "Point",
                                    "coordinates": [
                                      -89.8886111,
                                      38.3197222,
                                      0
                                    ]
                                  },
                                  "properties": {
                                    "region": "0714",
                                    "huc": {
                                      "huc8": {
                                        "code": "07140204"
                                      },
                                      "huc2": {
                                        "code": "07"
                                      },
                                      "huc4": {
                                        "code": "0714"
                                      },
                                      "huc6": {
                                        "code": "071402"
                                      },
                                      "huc_name": "Lower Kaskaskia"
                                    },
                                    "type": {
                                      "title": "United States Geological Survey Supergauge",
                                      "network": "NWIS",
                                      "id": "usgs-sg"
                                    },
                                    "name": "05595000",
                                    "popupContent": "05595000",
                                    "online_status": "online",
                                    "location": "KASKASKIA RIVER AT NEW ATHENS, IL"
                                  },
                                  "min_start_time": "2009-04-10T05:15:00Z",
                                  "max_end_time": "2019-01-17T05:00:00Z",
                                  "parameters": [
                                    "discharge-ft3s",
                                    "discharge-ft3s-qc",
                                    "dissolved-oxygen-mgl",
                                    "dissolved-oxygen-mgl-qc",
                                    "dissolved-oxygen-saturation-pct",
                                    "dissolved-oxygen-saturation-pct-qc",
                                    "nitrate-nitrite-as-n-mgl",
                                    "nitrate-nitrite-as-n-mgl-qc",
                                    "pH",
                                    "pH-qc",
                                    "phosphorus-insitu-orthophosphate-as-p-mgl",
                                    "phosphorus-insitu-orthophosphate-as-p-mgl-qc",
                                    "specific-conductance-uScm",
                                    "specific-conductance-uScm-qc",
                                    "turbidity-fnu",
                                    "turbidity-fnu-qc",
                                    "water-temperature-c",
                                    "water-temperature-c-qc"
                                  ]
                                },
                                "last_time": 2009,
                                "first_year": 2019,
                                "diff": -10,
                                "properties": {
                                  "interval_average": "NaN",
                                  "total_average": "NaN",
                                  "last_average": "NaN",
                                  "percentage_change": "NaN"
                                }
                              },
                              {
                                "sensor_id": 1415,
                                "sensor": {
                                  "id": 1415,
                                  "name": "05599490",
                                  "created": "2018-03-19T21:42:58Z",
                                  "geoType": "Feature",
                                  "geometry": {
                                    "type": "Point",
                                    "coordinates": [
                                      -89.3277778,
                                      37.7583333,
                                      0
                                    ]
                                  },
                                  "properties": {
                                    "region": "0714",
                                    "huc": {
                                      "huc8": {
                                        "code": "07140106"
                                      },
                                      "huc2": {
                                        "code": "07"
                                      },
                                      "huc4": {
                                        "code": "0714"
                                      },
                                      "huc6": {
                                        "code": "071401"
                                      },
                                      "huc_name": "Big Muddy"
                                    },
                                    "type": {
                                      "title": "United States Geological Survey Supergauge",
                                      "network": "NWIS",
                                      "id": "usgs-sg"
                                    },
                                    "name": "05599490",
                                    "popupContent": "05599490",
                                    "online_status": "online",
                                    "location": "BIG MUDDY RIVER AT RTE 127 AT MURPHYSBORO, IL"
                                  },
                                  "min_start_time": "2007-10-01T05:00:00Z",
                                  "max_end_time": "2019-01-17T05:00:00Z",
                                  "parameters": [
                                    "discharge-ft3s",
                                    "discharge-ft3s-qc",
                                    "dissolved-oxygen-mgl",
                                    "dissolved-oxygen-mgl-qc",
                                    "dissolved-oxygen-saturation-pct",
                                    "dissolved-oxygen-saturation-pct-qc",
                                    "nitrate-nitrite-as-n-mgl",
[...]
