@(since: Option[String], until: Option[String], geocode: Option[String], sources: List[String],
        attributes: List[String], sensor_id: Option[String], purpose: String)(implicit user: User, messages: Messages)
@views.html.templates.logged(title = "Download") {

    <div>
        <div id="purposeform" class="form-group">
            <p>@Messages("purpose")</p>
            <label for="purpose" class="form-control-label">@Messages("purpose.subtitle")</label>

            <textarea class="form-control" id="purpose" rows="3">@purpose</textarea>
        </div>
            <button type="button" class="btn btn-primary">Download</button>
            <p id="errormessage" class="text-danger" style="display: none">Please add your purpose (>5 letters).</p>
    </div>

    <script type="text/javascript">
            $('button').on('click', function() {
                var purposeText = $('textarea').val();
                if(purposeText.length > 5) {
                    $("#errormessage").hide();
                    var sinceString = @since.isDefined ? "@since": null;
                    var untilString = @until.isDefined ? "@until": null;
                    var geoString = @geocode.isDefined ? "@geocode": null;
                    var sourcesString = [];
                    @sources.map{ s =>
                    sourcesString.push("@s");
                    }
                    var attributesString = [];
                    @attributes.map{ a =>
                    attributesString.push("@a");
                    }
                    var sensorString = @sensor_id.getOrElse("null");
                    var request = jsRoutes.controllers.HomeController.datapointDownloadCSV(sinceString, untilString,
                            geoString, sourcesString, attributesString, sensorString, purposeText );
                    window.location = request.url;
                } else {
                    $("#errormessage").show();
                }


            });

    </script>
}
